<h1 class="page-title">Medicamentos</h1>

<div class="page-content">
  <button
    *ngIf="userIsAdmin()"
    class="btn btn-secondary page-button new-button"
    (click)="openMedicamentoModal({ editMode: true })"
  >
    Novo Medicamento
  </button>

  <form class="form filter-wrapper">
    <div class="form-group col-md-6 col-xl-4">
      <label for="filter-medicamento-input" class="page-filters-label"
        >Nome Genérico ou de Fábrica</label
      >
      <div class="input-group">
        <input
          id="filter-medicamento-input"
          type="text"
          class="form-control"
          (ngModelChange)="subject.next()"
          [(ngModel)]="selectedFilterMedicamento"
          [ngModelOptions]="{ standalone: true }"
        />
        <div class="input-group-append">
          <button
            class="btn btn-secondary page-button"
            (click)="clearMedicamento()"
          >
            Limpar
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-bordered page-table">
      <thead>
        <tr>
          <th scope="col">
            Nome Genérico
            <!-- <div class="row justify-content-center">
              <div class="input-group filter-input-wrapper col-md-10">
                <input
                  id="filter-medicamento-input"
                  type="text"
                  class="form-control"
                  (ngModelChange)="subject.next()"
                  [(ngModel)]="selectedFilterMedicamento"
                  [ngModelOptions]="{ standalone: true }"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-secondary page-button"
                    (click)="clearMedicamento()"
                  >
                    Limpar
                  </button>
                </div>
              </div>
            </div> -->
          </th>
          <th scope="col">Nome de Fábrica</th>
          <th class="ativo-col" scope="col">Ativo</th>
          <th class="details-col" scope="col">Detalhes</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let medicamento of medicamentos">
          <td>{{ medicamento.nomeGenerico }}</td>
          <td>{{ medicamento.nomeDeFabrica }}</td>
          <td>{{ medicamento.ativo ? "Sim" : "Não" }}</td>
          <td>
            <button
              class="btn btn-secondary page-button details-button"
              (click)="
                openMedicamentoModal({
                  editMode: false,
                  medicamentoId: medicamento._id
                })
              "
            >
              +
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row align-items-center justify-content-end pagination-wrapper">
    <div class="pagination-count">
      {{ numberOfResults === 0 ? 0 : pageSize * page - pageSize + 1 }} -
      {{
        pageSize * page < numberOfResults ? pageSize * page : numberOfResults
      }}
      de
      {{ numberOfResults }}
    </div>
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="numberOfResults"
      [boundaryLinks]="true"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      size="sm"
    ></ngb-pagination>
  </div>
</div>
