<div class="wrapper" (window:resize)="onResize()">
  <nav id="sidebar" [ngClass]="{ active: !sidebarIsHidden }">
    <div id="dismiss" *ngIf="isMobileSidebar" (click)="hideSidebar()">
      <i class="fas fa-arrow-left"></i>
    </div>

    <div *ngIf="!isMobileSidebar" class="sidebar-header">
      <h3>{{ getClinicName() }}</h3>
    </div>

    <ul class="pages-list">
      <li [routerLink]="['/']" [routerLinkActive]="['active']">
        <a>Solicitações de Exames</a>
      </li>
    </ul>

    <div class="sidebar-footer">
      <p>Clinimed - Av. A, n. 3000. CEP 69000-000, Manaus - AM, Brasil</p>
    </div>
  </nav>

  <div id="page-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          *ngIf="isMobileSidebar"
          type="button"
          id="sidebarCollapse"
          (click)="showSidebar()"
          class="btn btn-info"
        >
          <i class="fas fa-align-left"></i>
        </button>

        <div class="header-title" *ngIf="isMobileSidebar">
          {{ getClinicName() }}
        </div>

        <div class="header-user">
          <p>
            {{ getUsername() }}
          </p>
          <button
            type="button"
            id="logout"
            (click)="logout()"
            class="btn btn-info"
          >
            <i class="fas fa-sign-out-alt"></i>
          </button>
        </div>
      </div>
    </nav>
  </div>

  <div id="page-container">
    <router-outlet></router-outlet>
  </div>

  <div
    class="overlay"
    *ngIf="isMobileSidebar"
    [ngClass]="{ active: !sidebarIsHidden }"
    (click)="hideSidebar()"
  ></div>
</div>
