<div class="modal-header">
  <h4 class="modal-title">
    {{
      editMode
        ? convenio._id
          ? "Editar Convênio"
          : "Novo Convênio"
        : "Detalhes do Convênio"
    }}
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <button
    *ngIf="!editMode && convenio._id && userIsAdmin()"
    type="button"
    class="btn btn-secondary page-button edit-button"
    (click)="editMode = true"
  >
    Editar
  </button>
  <form #convenioForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nomeInput">Nome</label>
        <input
          required
          [disabled]="!editMode"
          id="nomeInput"
          type="text"
          class="form-control"
          [(ngModel)]="convenio.nome"
          name="nome"
        />
      </div>
    </div>
    <div class="form-row" *ngIf="convenio._id">
      <div class="form-group col-md-6">
        <label for="status">Ativo?</label>
        <span id="status" class="form-control status-span disabled">{{
          convenio.ativo ? "Sim" : "Não"
        }}</span>
      </div>
      <div *ngIf="!editMode" class="col-md-6">
        <div
          class="row justify-content-start align-items-center update-status-wrapper"
        >
          <button
            *ngIf="userIsAdmin()"
            type="submit"
            class="btn"
            [ngClass]="{
              'btn-outline-dark': !convenio.ativo,
              'btn-outline-danger': convenio.ativo
            }"
            (click)="updateConvenio(!convenio.ativo)"
          >
            {{ convenio.ativo ? "Inativar" : "Ativar" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    [disabled]="!convenioForm.form.valid"
    *ngIf="editMode && !convenio._id"
    type="submit"
    class="btn btn-outline-success"
    (click)="saveConvenio()"
  >
    Salvar
  </button>
  <button
    [disabled]="!convenioForm.form.valid"
    *ngIf="editMode && convenio._id"
    type="submit"
    class="btn btn-outline-success"
    (click)="updateConvenio()"
  >
    Atualizar
  </button>
  <button
    *ngIf="editMode"
    type="button"
    class="btn btn-outline-danger"
    (click)="
      convenio._id ? (editMode = false) : activeModal.close('Close click')
    "
  >
    Cancelar
  </button>
  <button
    *ngIf="!editMode"
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Fechar
  </button>
</div>
