form {
  label {
    font-weight: bold;
    font-size: 14px;
  }
  input.form-control {
    font-size: 14px;
    width: 50%;
    &:disabled {
      border: none;
      background-color: transparent;
    }
  }
}

.credentials-actions-wrapper {
  padding: 0;
  margin-top: 15px;
  button {
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
