<div class="modal-header">
  <h4 class="modal-title">
    {{
      editMode
        ? recepcionista._id
          ? "Editar Recepcionista"
          : "Novo Recepcionista"
        : "Detalhes do Recepcionista"
    }}
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <button
    *ngIf="!editMode && recepcionista._id && userIsAdmin()"
    type="button"
    class="btn btn-secondary page-button edit-button"
    (click)="editMode = true"
  >
    Editar
  </button>
  <form #recepcionistaForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nomeInput">Nome</label>
        <span *ngIf="!editMode" class="form-control text-span">{{
          recepcionista.nome
        }}</span>
        <input
          *ngIf="editMode"
          required
          id="nomeInput"
          type="text"
          class="form-control"
          [(ngModel)]="recepcionista.nome"
          name="nome"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="cpfInput">CPF</label>
        <input
          required
          [disabled]="!editMode"
          id="cpfInput"
          placeholder="Ex.: 01230123012"
          type="text"
          onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
          class="form-control"
          [(ngModel)]="recepcionista.cpf"
          name="cpf"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="dataDeNascimentoInput" class="page-filters-label"
          >Data de Nascimento</label
        >
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              *ngIf="editMode"
              class="btn btn-outline-secondary calendar-icon-wrapper"
              (click)="d1.toggle()"
              type="button"
            >
              <fa-icon class="calendar-icon" [icon]="calendarIcon"></fa-icon>
            </div>
          </div>
          <span
            *ngIf="!recepcionista.dataDeNascimento"
            class="form-control date-span"
            [ngClass]="{ disabled: !editMode }"
          ></span>
          <span
            *ngIf="recepcionista.dataDeNascimento"
            class="form-control date-span"
            [ngClass]="{ disabled: !editMode }"
            >{{ recepcionista.dataDeNascimento.day }}/{{
              recepcionista.dataDeNascimento.month
            }}/{{ recepcionista.dataDeNascimento.year }}</span
          >
          <input
            required
            id="dataDeNascimentoInput"
            style="display: none;"
            name="dp1"
            [(ngModel)]="recepcionista.dataDeNascimento"
            ngbDatepicker
            #d1="ngbDatepicker"
            [minDate]="minCalendarDate"
            [maxDate]="maxCalendarDate"
          />
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="dataDeAdmissaoInput" class="page-filters-label"
          >Data de Admissão</label
        >
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              *ngIf="editMode"
              class="btn btn-outline-secondary calendar-icon-wrapper"
              (click)="d2.toggle()"
              type="button"
            >
              <fa-icon class="calendar-icon" [icon]="calendarIcon"></fa-icon>
            </div>
          </div>
          <span
            *ngIf="!recepcionista.dataDeAdmissao"
            class="form-control date-span"
            [ngClass]="{ disabled: !editMode }"
          ></span>
          <span
            *ngIf="recepcionista.dataDeAdmissao"
            class="form-control date-span"
            [ngClass]="{ disabled: !editMode }"
            >{{ recepcionista.dataDeAdmissao.day }}/{{
              recepcionista.dataDeAdmissao.month
            }}/{{ recepcionista.dataDeAdmissao.year }}</span
          >
          <input
            required
            id="dataDeAdmissaoInput"
            style="display: none;"
            name="dp2"
            [(ngModel)]="recepcionista.dataDeAdmissao"
            ngbDatepicker
            #d2="ngbDatepicker"
            [placement]="['top-left']"
            [minDate]="minCalendarDate"
            [maxDate]="maxCalendarDate"
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="telefoneInput">Telefone</label>
        <input
          required
          [disabled]="!editMode"
          id="telefoneInput"
          placeholder="Ex.: 11993000000"
          type="text"
          onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
          class="form-control"
          [(ngModel)]="recepcionista.telefone"
          name="telefone"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="emailInput">Email</label>
        <span *ngIf="!editMode" class="form-control text-span">{{
          recepcionista.email
        }}</span>
        <input
          *ngIf="editMode"
          required
          id="emailInput"
          placeholder="Ex.: jose@hotmail.com"
          type="email"
          class="form-control"
          [(ngModel)]="recepcionista.email"
          name="email"
        />
      </div>
    </div>
    <div class="form-row" *ngIf="userIsAdmin()">
      <div class="form-group col-md-6">
        <label for="loginInput">Login</label>
        <input
          required
          [disabled]="!editMode"
          id="loginInput"
          type="text"
          class="form-control"
          [(ngModel)]="recepcionista.login"
          name="login"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="senhaInput">Senha</label>
        <div class="row align-items-center password-input-wrapper">
          <input
            required
            [disabled]="!editMode"
            id="senhaInput"
            type="password"
            class="form-control password-input"
            [(ngModel)]="recepcionista.senha"
            name="senha"
            appTogglePassword
          />
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="recepcionista._id">
      <div class="form-group col-md-6">
        <label for="status">Ativo?</label>
        <span id="status" class="form-control text-span">{{
          recepcionista.ativo ? "Sim" : "Não"
        }}</span>
      </div>
      <div *ngIf="!editMode" class="col-md-6">
        <div
          class="row justify-content-start align-items-center update-status-wrapper"
        >
          <button
            *ngIf="userIsAdmin()"
            type="submit"
            class="btn"
            [ngClass]="{
              'btn-outline-dark': !recepcionista.ativo,
              'btn-outline-danger': recepcionista.ativo
            }"
            (click)="updateRecepcionista(!recepcionista.ativo)"
          >
            {{ recepcionista.ativo ? "Inativar" : "Ativar" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    [disabled]="!recepcionistaForm.form.valid"
    *ngIf="editMode && !recepcionista._id"
    type="submit"
    class="btn btn-outline-success"
    (click)="saveRecepcionista()"
  >
    Salvar
  </button>
  <button
    [disabled]="!recepcionistaForm.form.valid"
    *ngIf="editMode && recepcionista._id"
    type="submit"
    class="btn btn-outline-success"
    (click)="updateRecepcionista()"
  >
    Atualizar
  </button>
  <button
    *ngIf="editMode"
    type="button"
    class="btn btn-outline-danger"
    (click)="
      recepcionista._id
        ? getRecepcionista(recepcionista._id)
        : activeModal.close('Close click')
    "
  >
    Cancelar
  </button>
  <button
    *ngIf="!editMode"
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Fechar
  </button>
</div>
