<div class="modal-header">
  <h4 class="modal-title">
    {{
      editMode
        ? "Nova Solicitação de Exame"
        : "Detalhes da Solicitação de Exame"
    }}
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #solicitacaoDeExameForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="medicoInput">Médico(a)</label>
        <input
          required
          [disabled]="!editMode"
          id="medicoInput"
          placeholder="Digite para pesquisar médicos(as)"
          type="text"
          class="form-control"
          [(ngModel)]="solicitacaoDeExame.idMedico"
          name="medico"
          [ngbTypeahead]="searchMedico"
          [inputFormatter]="formatterMedico"
          [resultFormatter]="formatterMedico"
          [editable]="false"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="pacienteInput">Paciente</label>
        <input
          required
          [disabled]="!editMode"
          id="pacienteInput"
          placeholder="Digite para pesquisar pacientes"
          type="text"
          class="form-control"
          [(ngModel)]="solicitacaoDeExame.idPaciente"
          name="paciente"
          [ngbTypeahead]="searchPaciente"
          [inputFormatter]="formatterPaciente"
          [resultFormatter]="formatterPaciente"
          [editable]="false"
          [placement]="['bottom-right']"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="dateInput" class="page-filters-label">Data</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div
              *ngIf="editMode"
              class="btn btn-outline-secondary calendar-icon-wrapper"
              (click)="d.toggle()"
              type="button"
            >
              <fa-icon class="calendar-icon" [icon]="calendarIcon"></fa-icon>
            </div>
          </div>
          <span
            *ngIf="!solicitacaoDeExame.data"
            class="form-control date-span"
            [ngClass]="{ disabled: !editMode }"
          ></span>
          <span
            *ngIf="solicitacaoDeExame.data"
            class="form-control date-span"
            [ngClass]="{ disabled: !editMode }"
            >{{ solicitacaoDeExame.data.day }}/{{
              solicitacaoDeExame.data.month
            }}/{{ solicitacaoDeExame.data.year }}</span
          >
          <input
            required
            id="dateInput"
            style="display: none;"
            name="dp"
            [(ngModel)]="solicitacaoDeExame.data"
            ngbDatepicker
            #d="ngbDatepicker"
          />
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="exameInput">Exame</label>
        <input
          class="form-control"
          disabled
          *ngIf="!editMode"
          [(ngModel)]="solicitacaoDeExame.exame"
          name="exame"
        />
        <select
          *ngIf="editMode"
          required
          class="form-control"
          id="exameInput"
          [(ngModel)]="solicitacaoDeExame.exame"
          name="exame"
        >
          <ng-container *ngFor="let exame of examTypesList">
            <option disabled selected value style="display: none;"></option>
            <option>{{ exame }}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="form-row" *ngIf="!editMode">
      <div class="form-group col-md-6">
        <label for="status">Resultado</label>
        <div class="result-file-wrapper">
          <span id="status" class="form-control status-span disabled">{{
            solicitacaoDeExame.nomeArquivoResultado || "Nenhum"
          }}</span>
          <button
            type="submit"
            *ngIf="solicitacaoDeExame.nomeArquivoResultado"
            class="btn btn-outline-dark"
            (click)="getSolicitacaoDeExameResultFile()"
          >
            Baixar Resultado
          </button>
        </div>
      </div>
      <div class="form-group col-md-6" *ngIf="userIsMedico()">
        <div class="update-status-wrapper">
          <input
            type="file"
            id="result"
            (change)="handleResultInput($event.target.files)"
          />
          <label for="result" class="btn btn-outline-dark"
            >Escolha um arquivo para salvar como resultado</label
          >
          <span>{{ resultFile && resultFile.name }}</span>
          <button
            *ngIf="resultFile"
            type="submit"
            class="btn btn-outline-success"
            (click)="saveSolicitacaoDeExameResultFile()"
          >
            Salvar Resultado
          </button>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="observacaoInput">Observação</label>
        <textarea
          autosize
          [disabled]="!editMode"
          id="observacaoInput"
          type="text"
          class="form-control"
          [(ngModel)]="solicitacaoDeExame.observacao"
          name="observacao"
        ></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    [disabled]="!solicitacaoDeExameForm.form.valid"
    *ngIf="editMode && !solicitacaoDeExame._id"
    type="submit"
    class="btn btn-outline-success"
    (click)="saveSolicitacaoDeExame()"
  >
    Registrar
  </button>
  <button
    type="button"
    class="btn"
    [ngClass]="{
      'btn-outline-danger': editMode,
      'btn-outline-dark': !editMode
    }"
    (click)="activeModal.close('Close click')"
  >
    {{ editMode ? "Cancelar" : "Fechar" }}
  </button>
</div>
