@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import "colors";

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

//SHARED PAGE CONTENT STYLES

input,
button,
a {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.5;
}

.page-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  color: $page-darker-color;
}

.page-content {
  background-color: $navbar-bg-color;
  padding: 30px;
  border-radius: 10px;
  color: $page-darker-color;
  .page-button {
    background-color: $sidebar-bg-color;
    &:hover {
      background-color: $sidebar-hover-color;
    }
  }
  .new-button {
    float: right;
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.filter-date {
  margin-bottom: 30px;
  label,
  input,
  .date-span,
  .page-button {
    font-size: 14px;
    min-width: 100px;
  }
  .calendar-icon-wrapper {
    font-size: 15px;
    padding: 5px 12px;
    background-color: $sidebar-bg-color;
    color: $navbar-bg-color;
    &:hover {
      background-color: $sidebar-hover-color;
    }
  }
}

.page-table {
  font-size: 14px;
  text-align: center;
  color: $page-darker-color;
  td,
  th {
    vertical-align: middle !important;
  }
  th {
    font-size: 16px;
  }
  .details-col,
  .ativo-col {
    width: 10%;
  }
  .filter-input-wrapper {
    margin-top: 8px;
    input,
    button {
      font-size: 12px;
      padding: 0 10px;
      height: 25px;
    }
  }
  .details-button {
    font-size: 12px;
  }
}

.ngb-dp-weekday {
  font-style: normal !important;
  color: $sidebar-bg-color !important;
  font-weight: bold !important;
}

.btn-link {
  color: $sidebar-bg-color !important;
}

.bg-primary {
  background-color: $sidebar-bg-color !important;
}

.pagination-wrapper {
  margin: 0;
  .pagination-count {
    font-size: 14px;
    margin-right: 10px;
  }
  .pagination {
    margin-bottom: 0;
    .page-link {
      color: $page-darker-color;
      &:not(.disabled):hover {
        background-color: $sidebar-bg-color;
        color: $navbar-bg-color;
      }
    }
    .page-item.active .page-link {
      background-color: $sidebar-bg-color;
      color: $navbar-bg-color;
      border-color: #dee2e6;
    }
    .page-item.disabled .page-link {
      background-color: $sidebar-light-color;
      color: $navbar-bg-color;
    }
  }
}

ngb-datepicker.dropdown-menu.show {
  transform-origin: top left !important;
  transform: translate(0px, 0px) scale(0.75) !important;
}

ngb-modal-window .component-host-scrollable {
  min-height: 80vh;
}

.modal-body {
  ngb-typeahead-window.dropdown-menu.show {
    max-height: 150px !important;
    overflow-y: auto !important;
  }

  label {
    font-weight: bold;
  }

  .edit-button {
    float: right;
  }

  form {
    clear: both;
  }

  .password-input-wrapper {
    padding: 0 12px;
    input[type="checkbox"] {
      margin-right: 5px;
      margin-left: 10px;
    }
    .password-input {
      width: 50%;
    }
  }

  .date-span,
  .status-span {
    &.disabled {
      border: none;
    }
  }

  input:disabled {
    border: none;
    background-color: transparent;
  }

  select:disabled {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

  .calendar-icon-wrapper {
    position: relative;
    height: 35px;
    width: 35px;
    .calendar-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .form-control {
    font-size: 14px !important;
  }

  .update-status-wrapper {
    height: 100%;
    padding: 16px;
    button {
      font-size: 14px;
    }
  }
}

.modal-footer {
  padding: 16px;
}
